@model EmployeeEditViewModel

@{
    ViewBag.Title = "Edit Employee";
    var photoPath = "~/Images/" + Model.ExistingPhotoPath ?? "noimage.jpg";
}

@* submit form to /home/create using POST *@
@* have to use multipart/form-data for file upload *@
<form  enctype="multipart/form-data" asp-controller="home" asp-action="edit" method="post" class="mt-3">
    <div class="form-group row">
        <input hidden asp-for="Id" />
        <input hidden asp-for="ExistingPhotoPath" />
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" placeholder="Name">
           @* if there is validation error for Name, then display here *@
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control" placeholder="Email">
             @* if there is validation error for Email, then display here *@
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Department" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="Department" class="custom-select mr-sm-2"
                    asp-items="Html.GetEnumSelectList<Dept>()">
                <option value="">Please Select</option>
            </select>

            <span asp-validation-for="Department" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Photo" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">    
                @* we did not specify the input to be file upload input *@
                @* however, since we the property we specified in the class has type of IFormFile *@
                @* Asp.net core automatically create file upload input for us *@
                <input asp-for="Photo" class="form-control custom-file-input" >
                <label class="custom-file-label">Click here to change photo...</label>
            </div>
        </div>
    </div>

    <div>
        <img src="@photoPath" class="imageThumbnail" asp-append-version="true" />
    </div>

    @* use summary to get all errors in one same place *@
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-controller="home" asp-action="index" class="btn btn-primary">Back</a>
        </div>
    </div>

    @* make selected file showing in the file upload field *@
    @section Scripts {
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split('\\').pop();
                    $(this).next('.custom-file-label').html(fileName);
                })
            })
        </script>
    }
</form>